
/*Start Global Rules  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
   font-family: "open Sans" ,sans-serif; 

}
ul{
    list-style: none;
}
/* .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */
/* small */
@media (min-width: 768px)
{
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px)
{
    .container{
        width: 970px;
    }
}
/* small */
@media (min-width: 1200px)
{
    .container{
        width: 1170px;
        
    }
}

:root{
    --primary:#cf268a
    
}
::-webkit-scrollbar{
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    height: 20px;
    border-radius: 10px;
}
nav{
    z-index: 999;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #cf268a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 50px;
    background-color: transparent;
    margin: 0 10px 0 10px;
}
.listbarr{
    display: flex;
    padding: 15px;
}
.listbarr li a{
    margin-right: 30px;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    
    
}
.listbarr li :hover{
   
   
    background-color: white;
    color: var(--primary);
    
    transition: 0.5s;
}
.listbar img{
    display: none;
}
@media  screen and (max-width: 768px){
    .listbarr{
        display: none;
    }
    .listbar img{
    display: block;
     height: 40px;
    position: relative;
    right: 20px;
    margin-top: 3px;

     

    }
    .listbarrr {
         display: flex;
    }
}
.sectionppone{
   
    display: flex;
    justify-content: center;
}
.sectionppone .container{
    width: 90%;
    margin-top: 100px;
    /* display: flex;
    justify-content: center; */
}
.sectionppone .container  h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.sectionppone .container .threecard{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}
.sectionppone .container .threecard .card{
    margin-left: 30px;
}
.sectionppone .container .threecard .card P{
    background-color: var(--primary);
    color: white;
    padding: 15px;
    font-size: 13px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    letter-spacing: 2px;
    transition: 0.5s;
    border:var(--primary ) 1px solid;

}
.sectionppone .container .threecard .card p:hover{
    background-color: white;
    color: black;
    display: block;
}

.sectionpptwo {
    display: flex;
    justify-content: center;
}
.sectionpptwo .container{
    width: 90%;
    margin-top: 100px;
}
.sectionpptwo .container .twocard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sectionpptwo .container .twocard .card{
    width: auto;
    max-width: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    margin-left: 40px;
}
.sectionpptwo .container .twocard .text{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.sectionpptwo .container .twocard .text h2{
    font-size: 40px;
    font-weight: bold;
    
    letter-spacing: 5px;
}
.sectionpptwo .container .twocard .text p{
    width: 90%;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    padding: 10px;
}
.sectionpptwo .container .twocard img{
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}
.sectionppthree{
    display: flex;
    justify-content: center;
}
.sectionppthree .container{
    width: 90%;
    margin-top: 100px;
}
.sectionppthree .container h2{
  
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.sectionppthree .container .twocard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
   
}
.sectionppthree .container .twocard .card{
    width: 550px;
    display: flex;
    height: 600px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: white;
    -webkit-box-shadow: 2px 0px 5px 2px rgba(222,205,222,1);
    border-radius: 10px;
    margin-left: 30px;
    height: auto;
    margin-top: 30px;
}
.sectionppthree .container .twocard .card i{
    font-size: 75px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.sectionppthree .container .twocard .card h3{
    margin-bottom: 30px;
    font-size: 34px;
}
.sectionppthree .container .twocard .card .one{
    line-height: 3.7;
    padding-left: 30px;
}
.sectionppthree .container .twocard .card .two{
    line-height: 2.5;
    padding-left: 30px;
}


@media  screen and (max-width: 768px){
    .sectionppthree .container .twocard .card{
        margin-top: 80px;
    }
    .sectionppthree .container .twocard .card i{
       
        font-size: 70px;
    }

    .sectionppthree .container .twocard .card h3{
        font-size: 20px;
    }
    .sectionppthree .container .twocard .card .one{
        line-height: 2;
    }
    .sectionppthree .container .twocard .card .two{
        line-height: 1.5;
    }
}
.sectionsix{
    width: 100%;
    background-color: var(--primary);
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    padding: 70px;
    z-index: 500 !important;
    margin-top: 50px;
    
}
.sectionsix .container{
 width: 90%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 
}
@media  screen and (max-width: 768px){
    .sectionsix .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;
    }
    .sectionsix .container .cardone{
        margin-bottom: 60px;
    }
    .sectionsix .container .cardtwo{
        margin-bottom: 60px;
    }
   
}

.sectionsix .container .two {
    width: 50%;
}
.sectionsix .container img:not(.sectionsix .container .cardone img){
    height: 25px;
    width: 25px;
  
}
.sectionsix .container .cardone{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -60px;
}
.sectionsix .container .cardone img{
    height: 130px;
    margin-bottom: 25px;
}
.sectionsix .container .cardone p{
    width: 90%;
    text-align: center;
}

.sectionsix .container .cardtwo{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.sectionsix .container .cardtwo h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    text-transform: uppercase;
}
.sectionsix .container .cardtwo .phone{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionsix .container .cardtwo p{
    margin-left: 10px;
}
.sectionsix .container .cardtwo .adress{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionsix .container .cardtwo i{
    font-size: 30px;
    margin: 0 10px;
    height: 55px;
    width: 55px;
    padding: 13px;

}
.sectionsix .container .cardtwo i:first-of-type{
color: #1877f2;
background-color: white;
border-radius: 50%;
text-align: center;
margin-bottom: 40px;

}

.sectionsix .container .cardtwo i:nth-of-type(2){
 color: #eb09aa;
 background-color: white;
 border-radius: 50%;
text-align: center;
margin-bottom: 40px;
}
.sectionsix .container .cardtwo i:nth-of-type(3){
color: rgb(179, 23, 23);
background-color: white;
border-radius: 50%;
text-align: center;
margin-bottom: 40px;
}



.sectionsix .container .cardthree{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}
.sectionsix .container .cardthree h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    text-transform: uppercase;
}
.sectionsix .container .cardthree .work{
    margin-bottom: 40px;
    text-align: center;
}
 
.sectionsix .container .cardthree .workdate{
   display: flex;
    align-items: center;
    justify-content: center;
}
.sectionsix .container .cardthree .workdate  .pp p{
  margin-left: 15px;
}
.sectionsix .container .cardthree .vacation h4{
    margin-bottom: 10px;
    text-align: center;
}
.sectionsix .container .cardthree .vacation .vacationdate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionsix .container .cardthree .vacation .vacationdate .ppp p{
    margin-left: 15px;
}
hr{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.363)
}

.Copyright{
    background-color: var(--primary);
}
.Copyright{
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
    color: white;
}


