
:root{
    --primary:#cf268a
    
}
::-webkit-scrollbar{
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    height: 20px;
    border-radius: 10px;
}

.backgruondd{
    display: none;
}


.backgruond{
    
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
   
   z-index: 300;
}
@media  screen and (max-width: 768px){
   .toggle{
    margin-bottom: 40px;
   }
    .backgruond{
        display: flex;
        margin-top: 70px;
        justify-content: center;
        position: absolute;
        top: -10px;
    }
    .backgruond div {
        margin-top: 60PX;
}
.backgruond div li{
  
    list-style: none;
    margin-top: 70px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 10px;
    border-radius:5px;
   

    
    
}
.backgruond div li:hover{
    border-bottom: 5px solid white;
}
.backgruond div li a{
  text-decoration: none;
  font-size: 20px;
  margin-top:50px;
  color: white;
  text-align: center;
 
}
.backgruondd{
    display: none;
}

.listbar img:hover    .backgruondd{
    display: flex;
    z-index: 1000;
}
}

 



.sectionone{
    background-image: url('https://mohameds16.github.io/jfc/Cosmetics/images/bbb.webp');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.sectionone p{
    position: absolute;
    top: 200px;
    color: var(--primary);
    top: 315px;
    font-size: 55px;
    width: 30%;
    font-weight: bold;
    left: 240px;
}
@media  screen and (max-width: 768px) {
  
    .sectionone{
        background-position: 80%;
        width: 100%;
        background-image: url('https://mohameds16.github.io/jfc/Cosmetics/images/bbb.webp');
        background-position: 80%;
       
    }
    .sectiononee  {
       
        height: 100%;
        width: 100%;
        position: relative;
       
        
    }
    .sectionone .Your{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    
   
    .sectionone p{
        position: absolute;
        top: 200px;
        color: var(--primary);
        top: 315px;
        font-size: 35px;
        width: 30%;
        font-weight: bold;
        left: 34%;
        right: -14%;
        /* margin-left: 27px; */
        /* bottom: 107px; */
        margin-top: 229px;
      
        
        
    }
}
.sectiontwo {
    display: flex;
    justify-content: center;
    
}
.sectiontwo .container{
    width: 90%;
    
}
.sectiontwo .container h2{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    
    
   
}
.sectiontwo .container .parent{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
}
.sectiontwo .container .parent img{
    height: 90px;
}
.sectiontwo .container .parent P{
    margin-top: 20px;
    font-weight: bold;
  
    text-align: center;
}
/* .sectiontwo .container .parent .color{
    color: var(--primary);

} */
.sectiontwo .container .parent .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 60px; */
    padding: 20px 40px;
    transition: 0.5s;
    color: black;
    margin:0 20px;
    width: 250px;
    margin-top: 22px;

}
.sectiontwo .container .parent .card:hover{
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
   
   
}
@media  screen and (max-width: 768px){
    .sectiontwo .container h2{
        font-size: 30px;
        text-align: center;
        margin-top: 90px;
    }
    .sectiontwo .container .parent{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        
    }
   
}
.sectionthree{
    display: flex;
    justify-content: center;
}
.sectionthree .container{
    width: 80%;
}
.sectionthree .container h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 150px;
    font-weight: bold;
    font-size: 50px;
    width: 100%;

}
.sectionthree .container .parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
    
.sectionthree .container .parent img{
    height: 450px;
    width: 340px;
    border-radius: 10px;
   
    
}
.sectionthree .container .parent .card{
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 22px;
   
}

.sectionthree .container .parent p{
    width: 340px;
    padding: 20px;
    height: 130px;
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
    position: absolute;
    bottom:-150px;
    /* display: none; */
    line-height: 1.5;
  
}
.sectionthree .container .parent .card:hover p{
       display: flex;
       bottom: 0;
       transition: 1s;

}
@media  screen and (max-width: 768px){
    .sectionthree .container h2{
        font-size: 30px;
        text-align: center;
        margin-top: 90px;
    }
    .sectionthree .container .parent{
           display: flex;
           flex-direction: column;
           align-items: center;
    }
    
  
  
}

.more{
    display: flex;
    justify-content: center;
}
.More{
    border: none;
    background-color: var(--primary);
    padding: 24px 50px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    margin: 20px 40%;
}
.More:hover{
    border: 1px solid var(--primary);
    background-color: transparent;
    color: black;
    transition: 0.5s;
}



.sectionfour h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 150px;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
}
.sectionfour .parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sectionfour .parent .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
}
.sectionfour .parent .card img{
    height: 200px;
    border-radius: 10px;
    margin: 0 10px;
  

}
.sectionfour .parent .card .lyer{
    background-color: palevioletred;
    height: 200px;
    width: 355.55px;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    font-size: 19px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.sectionfour .parent .card:hover .lyer{
display: flex;
}


.sectionfour .parent .card P:first-of-type{
 margin-top: 15px;
}
.sectionfour .parent .card img:hover{
    z-index: 33;
    background-color: rgb(227, 112, 131);
    /* height: 100%;
    width: 100%;

    */
     }
     @media  screen and (max-width: 768px){
        .sectionfour h2{
            font-size: 30px;
            text-align: center;
            margin-top: 90px;
        }
        .sectionfour  .parent{
            display: flex;
            flex-direction: column;
            align-items: center;
     }
     
    }
    .sectoinfive{
        margin-bottom: 30px;
    }
    .sectoinfive h2{
        text-align: center;
        margin-bottom: 50px;
        margin-top: 150px;
        font-weight: bold;
        font-size: 50px;
        width: 100%;
    }
    .sectoinfive .parent{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sectoinfive .parent .card{
        margin: 0 5px;
        overflow: hidden;
        margin-top: 22px;
        
    }
    .sectoinfive .parent .card img{
        height: 450px;
        width: 300px;
        border-radius: 10px;
    }
    @media  screen and (max-width: 768px){
        .sectoinfive .container h2{
            font-size: 30px;
            text-align: center;
            margin-top: 90px;
        }
        .sectoinfive .container .parent{
               display: flex;
               flex-direction: column;
               flex-wrap: nowrap;
               
        }
    }



.sectionsix{
    width: 100%;
    background-color: var(--primary);
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    padding: 70px;
    z-index: 500 !important;
    
}
.sectionsix .container{
 width: 90%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 
}
@media  screen and (max-width: 768px){
    .sectionsix .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;
    }
    .sectionsix .container .cardone{
        margin-bottom: 60px;
    }
    .sectionsix .container .cardtwo{
        margin-bottom: 60px;
    }
   
}

.sectionsix .container .two {
    width: 50%;
}
.sectionsix .container img:not(.sectionsix .container .cardone img){
    height: 25px;
    width: 25px;
  
}
.sectionsix .container .cardone{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -60px;
}
.sectionsix .container .cardone img{
    height: 130px;
    margin-bottom: 25px;
}
.sectionsix .container .cardone p{
    width: 90%;
    text-align: center;
}

.sectionsix .container .cardtwo{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.sectionsix .container .cardtwo h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    text-transform: uppercase;
}
.sectionsix .container .cardtwo .phone{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionsix .container .cardtwo p{
    margin-left: 10px;
}
.sectionsix .container .cardtwo .adress{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionsix .container .cardtwo i{
    font-size: 30px;
    margin: 0 10px;
    height: 55px;
    width: 55px;
    padding: 13px;

}
.sectionsix .container .cardtwo i:first-of-type{
color: #1877f2;
background-color: white;
border-radius: 50%;
text-align: center;
margin-bottom: 40px;

}

.sectionsix .container .cardtwo i:nth-of-type(2){
 color: #eb09aa;
 background-color: white;
 border-radius: 50%;
text-align: center;
margin-bottom: 40px;
}
.sectionsix .container .cardtwo i:nth-of-type(3){
color: rgb(179, 23, 23);
background-color: white;
border-radius: 50%;
text-align: center;
margin-bottom: 40px;
}


.sectionsix .container .cardthree {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}




.sectionsix .container .cardthree h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    text-transform: uppercase;
    
}
.sectionsix .container .cardthree .work{
    margin-bottom: 40px;
    text-align: center;
}
 
.sectionsix .container .cardthree .workdate{
   display: flex;
    align-items: center;
    justify-content: center;
}
.sectionsix .container .cardthree .workdate  .pp p{
  margin-left: 15px;
}
.sectionsix .container .cardthree .vacation h4{
    margin-bottom: 10px;
    text-align: center;
}
.sectionsix .container .cardthree .vacation .vacationdate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionsix .container .cardthree .vacation .vacationdate .ppp p{
    margin-left: 15px;
}
hr{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.363)
}

.Copyright{
    background-color: var(--primary);
}
.Copyright{
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
    color: white;
}














    
    
    


    






